@page "/"
@attribute [StreamRendering(true)]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<AuthorizeView>
	<Authorized>
		<p><strong>@message</strong></p>
	</Authorized>
	<NotAuthorized>
		<p><strong>Please <a href="authentication/login">log in</a> to view the weather data.</strong></p>
	</NotAuthorized>
</AuthorizeView>

@code
{
	private string message = "";

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;		

		if (user.Identity?.IsAuthenticated == true)
		{
			message = user + ". You are successfully authenticated.";
		}
	}
}